<%- include('../header') %>


<div class="container mt-5">
    <div class="jumbotron bg-white">
        <h1 class="mb-3">Add options</h1>
        <p>Title: <%- poll.title %></p>
        <p>Current options:</p>
        <ul>
            <% poll.results.forEach((result) => { %>
                <li><%- result.option %> - <%= result.votes %> <%= result.votes === 1 ? 'vote' : 'votes' %></li>
            <% }); %>
        </ul>
        <form action="/polls/<%= poll.id %>?_method=PUT" method="POST" class="mb-sm-3">
            <div class="form-group">
                <label for="option">New options</label>
                <div id="options-container" data-min-options="1">
                    <% if ( locals.data && locals.data.options ) { %>
                        <% data.options.forEach((option) => { %>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="options"
                                    name="options"
                                    placeholder="Enter option"
                                    value="<%= option %>"
                                    required
                            >
                        <% }); %>
                    <% } %>
                    <input
                            type="text"
                            class="form-control"
                            id="options"
                            name="options"
                            placeholder="Enter option"
                            required
                    >
                </div>
                <button type="button" class="btn btn-secondary" id="add-option">Add option</button>
                <button type="button" class="btn btn-warning" id="remove-option" disabled>Remove option</button>
                <noscript>Please enable JavaScript to be able to add more options.</noscript>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>

<script src="/assets/js/new-poll-form.js"></script>

<%- include('../footer') %>