<%- include('../header') %>


<div class="container mt-5">
    <div class="jumbotron bg-white">
        <div class="row">

        <div class="col-md-6 pr-lg-5">
            <h1 class="mb-3"><%- title %></h1>
            <form action="/polls/<%= poll_id %>/vote" method="POST" class="mb-3">
                <div class="form-group">
                    <select name="option" id="" class="custom-select">
                        <option value="" selected disabled hidden>Choose an option...</option>
                        <% options.forEach((option) => { %>
                            <option value="<%- option %>"><%= option %></option>
                        <% }); %>
                    </select>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>

            </form>
            <a
                class="btn btn-info twitter-btn mb-3"
                href="https://twitter.com/intent/tweet?text=Poll:%20<%- encodeURI(title) + '%20-%20' + poll_url %>"
            ><i class="twitter-icon mr-1"></i><span>Share on Twitter</span></a>
        </div>

        <!--Chart stuff-->
        <div class="col-md-6">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        </div>
    </div>
</div>

<%- include('../partials/chart') %>
<%- include('../footer') %>
