<%- include('../partials/header') %>

<%- include('../partials/navbar') %>


<div class="container mt-5">
    <div class="jumbotron bg-white">
        <div class="row">

        <div class="col-md-6 pr-lg-5">
            <h1 class="mb-3">Who is your favorite superhero?</h1>
            <form action="" class="mb-sm-3">
                <div class="form-group">
                    <select name="" id="" class="custom-select">
                        <option value="" selected disabled hidden>Choose an option...</option>
                        <option value="">Batman</option>
                        <option value="">Superman</option>
                        <option value="">The Flash</option>
                        <option value="">Wonder Woman</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>

        <!--Chart stuff-->
        <div class="col-md-6">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
<%- include('../partials/footer-scripts') %>
<%- include('../partials/chart') %>
<%- include('../partials/close') %>
