<%- include('../header') %>


<div class="container mt-4">
    <h1 class="mb-4">Polls</h1>
    <a href="/polls/new" class="btn btn-info mb-4">Add poll</a>
    <% user.polls.forEach((poll) => { %>
        <div class="jumbotron bg-light user-poll mb-4">
            <div class="title">
                <h2><a href="/polls/<%= poll.id %>"><%- poll.title %></a></h2>
            </div>
            <div class="options">
                <ul>
                    <% poll.results.forEach((res) => { %>
                    <li>
                        <span><%- res.option %></span>
                        <span><%= res.votes %></span>
                    </li>
                    <% }); %>
                </ul>
            </div>
            <button class="btn btn-warning text-white mr-2">Add option</button>
            <button class="btn btn-danger">Delete</button>
        </div>
    <% }); %>

</div>


<%- include('../footer') %>

